<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>

.............................
<script th:src="@{/js/jquery.min.js}"></script>
<script type="text/javascript">
console.log("js执行");

window.onload=function (){

	 $.ajax({
		url: '/lg',
    	type: 'GET',
    	async: false,
    	success:function(result){
    		console.log(result);
    		info=result.content;
    	}
	});
	
	
}
 
</script>

</body>
</html>